[submodule ".vim/pack/plugins/start/ayu-vim"]
	path = .vim/pack/plugins/start/ayu-vim
	url = git@github.com:ayu-theme/ayu-vim.git
[submodule ".vim/pack/plugins/opt/indentLine"]
	path = .vim/pack/plugins/opt/indentLine
	url = https://github.com/Yggdroot/indentLine.git
[submodule ".vim/pack/plugins/opt/vim-angry-reviewer"]
	path = .vim/pack/plugins/opt/vim-angry-reviewer
	url = git@github.com:anufrievroman/vim-angry-reviewer.git
[submodule ".vim/pack/plugins/opt/fzf.vim"]
	path = .vim/pack/plugins/opt/fzf.vim
	url = git@github.com:junegunn/fzf.vim.git
[submodule ".vim/pack/plugins/opt/fzf"]
	path = .vim/pack/plugins/opt/fzf
	url = git@github.com:junegunn/fzf.git
[submodule ".vim/pack/plugins/opt/vim-sensible"]
	path = .vim/pack/plugins/opt/vim-sensible
	url = https://github.com/tpope/vim-sensible.git
[submodule ".vim/pack/plugins/start/vim-airline"]
	path = .vim/pack/plugins/start/vim-airline
	url = https://github.com/vim-airline/vim-airline
[submodule ".vim/pack/plugins/start/nerdtree"]
	path = .vim/pack/plugins/start/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule ".vim/pack/plugins/start/gruvbox"]
	path = .vim/pack/plugins/start/gruvbox
	url = https://github.com/morhetz/gruvbox.git
